<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %> - Jeremy Wagner</title>
		<% if(typeof htmlWebpackPlugin.options.canonical === "string"){ %>
			<link rel="canonical" href="<%= htmlWebpackPlugin.options.canonical %>">
		<% } %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
		<meta name="og:description" content="<%= htmlWebpackPlugin.options.description %>">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- <link rel="manifest" href="/manifest.json"> -->
		<script>document.documentElement.classList.remove("no-js");</script>
		<link href="<%= htmlWebpackPlugin.files.css %>" rel="stylesheet">
	</head>
	<body>
		<div class="skyline"></div>
		<main>
			<%= htmlWebpackPlugin.options.components.illustration %>
			<%= htmlWebpackPlugin.options.components.header %>
			<%= htmlWebpackPlugin.options.components.navigation %>
			<section>
				<%= htmlWebpackPlugin.options.components.content %>
			</section>
		</main>
		<% for(chunk in htmlWebpackPlugin.files.js){ %>
			<% if(htmlWebpackPlugin.files.js[chunk].indexOf("app") !== -1){ %>
				<script defer src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
			<% } %>
		<% } %>
	</body>
</html>
