<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %> - Jeremy Wagner</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- <link rel="manifest" href="/manifest.json"> -->
		<script>document.documentElement.classList.remove("no-js");</script>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Fredoka+One|Monoton" rel="stylesheet">
		<link href="<%= htmlWebpackPlugin.files.css %>" rel="stylesheet">
	</head>
	<body>
		<div class="skyline"></div>
		<main>
			<%= htmlWebpackPlugin.options.render("illustration") %>
			<%= htmlWebpackPlugin.options.render("header") %>
			<%= htmlWebpackPlugin.options.render("navigation") %>
			<% if(htmlWebpackPlugin.options.blogPost == true){ %>
				<%= htmlWebpackPlugin.options.render("content") %>
			<% } %>
		</main>
		<% for(chunk in htmlWebpackPlugin.files.js){ %>
			<% if(htmlWebpackPlugin.files.js[chunk].indexOf("index") === -1 && htmlWebpackPlugin.options.blogPost == true){ %>
				<script defer src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
			<% } %>
		<% } %>
	</body>
</html>
