<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= htmlWebpackPlugin.options.title %> - Jeremy Wagner</title>
		<% if(typeof htmlWebpackPlugin.options.canonical === "string"){ %>
			<link rel="canonical" href="<%= htmlWebpackPlugin.options.canonical %>">
		<% } %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
		<meta name="og:description" content="<%= htmlWebpackPlugin.options.description %>">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-title" content="Jeremy Wagner&apos;s Web Development Blog">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="theme-color" content="#fff">
		<meta name="application-name" content="Jeremy Wagner&apos;s Web Development Blog">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="shortcut icon" href="/favicon.ico">
		<!-- <link rel="manifest" href="/manifest.json"> -->
		<script>document.documentElement.classList.remove("no-js");</script>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i|Fredoka+One|Monoton" rel="stylesheet">
		<link href="<%= htmlWebpackPlugin.files.css %>" rel="stylesheet">
	</head>
	<body<% if(htmlWebpackPlugin.options.saveData === true){ %> class="save-data"<% } %>>
		<div class="skyline"></div>
		<main>
			<%= htmlWebpackPlugin.options.components.illustration %>
			<%= htmlWebpackPlugin.options.components.header %>
			<%= htmlWebpackPlugin.options.components.navigation %>
			<section>
				<%= htmlWebpackPlugin.options.components.content %>
			</section>
		</main>
		<% for(chunk in htmlWebpackPlugin.files.js){ %>
			<% if(htmlWebpackPlugin.files.js[chunk].indexOf("app") !== -1){ %>
				<script defer src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
			<% } %>
		<% } %>
	</body>
</html>
