header{
	padding: 0 var(--mobile-gutter);
}

.skyline{
	background: top 0 left 95% url("../images/skyline.svg") no-repeat;
	background-size: auto 101%;
	padding-top: 30%; /* 96px / 320px */
	margin: 0 0 8px;
}

.name,
.site{
	line-height: 1;
	color: var(--coral);
	padding: 0;
	background: transparent;
}

.name{
	font-family: var(--fredoka-one);
	font-size: calc(150% + (72 - 24) * ((100vw - 320px) / (960 - 320)));
	margin: 0 0 .4ch
}

.site{
	font-family: var(--monoton);
	font-size: calc(200% + (96 - 32) * ((100vw - 320px) / (960 - 320)));
	text-transform: uppercase;
	word-spacing: .225ch;
	margin: .25ch 0 0;
}

@media (min-width: 800px){
	/*@supports (display: grid){*/
		.skyline{
			background-position: 50% 0;
			background-size: auto 101.5%;
			padding-top: 21.9444444444%; /* 316px / 1440px */
			margin: 0;
		}

		header{
			padding: 0;
		}

		#jeremy{
			position: relative;
		}

		#jeremy:before{
			position: absolute;
			bottom: 0;
			left: 0;
			padding-top: 100%;
			width: 100%;
			display: block;
			background: url("../images/jeremy.svg") no-repeat;
			background-size: 100%;
			content: "";
			font-size: 0;
		}

		.name{
			font-size: calc(175% + (56 - 28) * ((100vw - 800px) / (1440 - 800)));
		}

		.site{
			font-size: calc(350% + (112 - 56) * ((100vw - 800px) / (1440 - 800)));
		}
	/*}*/
}
