.skyline{
	background: top 0 left 95% url("../images/skyline.svg") no-repeat;
	background-size: auto 101%;
	padding-top: 30%; /* 96px / 320px */
	margin: 0 0 8px;
}

.name,
.site{
	line-height: 1;
	color: var(--coral);
	padding: 0;
	background: transparent;
}

.name{
	font-family: var(--fredoka-one);
	font-size: calc(150% + (72 - 24) * ((100vw - 320px) / (960 - 320)));
}

.site{
	font-family: var(--monoton);
	font-size: calc(200% + (96 - 32) * ((100vw - 320px) / (960 - 320)));
	text-transform: uppercase;
	word-spacing: .225ch;
	margin: .25ch 0 0;
}
