nav{
	padding: 0 var(--mobile-gutter);
	margin: 1ch 0 0;
}

.nav-item{
	font-family: var(--fredoka-one);
	display: inline-block;
	line-height: 1.618;
	font-size: calc(100% + (32 - 16) * ((100vw - 320px) / (960 - 320)));
}

.nav-item:after{
	content: "//";
	color: var(--coral);
	margin: 0 1ch;
	font-size: calc(75% + (24 - 12) * ((100vw - 320px) / (960 - 320)));
}

.nav-item:last-child:after{
	content: none;
}

.nav-link{
	color: var(--light-blue);
	text-decoration: underline;
}

#social-nav{
	margin: 16px 0 36px;
	font-size: 0;
}

.social{
	background-image: url("../images/social-icons.svg");
	background-size: 80px 77px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
}

.social a{
	display: block;
	width: 100%;
	height: 100%;
}

.twitter{
	width: 20.1px;
	height: 16.213px;
	background-position: 0 0;
}

.github{
	width: 19.847px;
	height: 19.939px;
	background-position: -20.1px -16.213px;
}

.email{
	width: 20.1px;
	height: 20.1px;
	background-position: -40.2px -36.313px;
}

.rss{
	width: 20px;
	height: 20.9px;
	background-position: -60.2px -57.213px;
	margin: 0;
}

@media (min-width: 800px){
	/*@supports (display: grid){*/
		nav{
			padding: 0;
		}

		.nav-item{
			display: block;
			text-align: center;
			font-size: calc(152.7883880825% + (32 - 24.4461420932) * ((100vw - 800px) / (1440 - 800)));
			margin: 0 0 .8ch;
		}

		.nav-item:after{
			content: none;
		}
	/*}*/
}
