@font-face{
	font-family: $montserrat;
	font-weight: 700;
	font-style: normal;
	src: url("fonts/montserrat-bold-subset.woff2") format("woff2"),
		 url("fonts/montserrat-bold-subset.woff") format("woff"),
		 url("fonts/montserrat-bold-subset.eot") format("embedded-opentype"),
		 url("fonts/montserrat-bold-subset.ttf") format("truetype");
	font-display: optional;
	unicode-range: U+20,U+27,U+2E,U+41-50,U+52-57,U+59;
}
