html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
p,
a,
code,
img,
strike,
strong,
u,
em,
li,
caption,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
summary,
cite,
q,
q q{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol,
ul{
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

strong{
	font-weight: 700;
}

em{
	font-style: italic;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section{
	display: block;
}

html{
	font-size: 16px;
}

body{
	line-height: 1;
	background: $white;
	padding: 10px;
	overflow-x: hidden;
}

img{
	max-width: 100%;
	display: inline-block;
	height: auto;
}

*{
	box-sizing: border-box;
}
