<footer>
	<p class="footer-copy">All content &copy; 2016-<?php echo(date("Y")); ?> Jeremy Wagner, unless where otherwise noted.</p>
</footer>
<?php
if($isHttp2 === true){
	?>
	<script src="/js/lazyload.js?v=<?php echo($versions["lazyload.js"]); ?>" async defer></script>
	<script src="/js/debounce.js?v=<?php echo($versions["debounce.js"]); ?>" defer></script>
	<script src="/js/nav.js?v=<?php echo($versions["nav.js"]); ?>" defer></script>
	<script src="/js/attach-nav.js?v=<?php echo($versions["attach-nav.js"]); ?>" defer></script>
	<?php
}
else{
	?><script src="/js/scripts.js?v=<?php echo($versions["scripts.js"]); ?>" defer></script><?php
}
?>
<noscript>
	<img src="/img/global/blank.gif?ua=<?php echo($ua); ?>">
</noscript>