<footer>
	<p class="footer-copy">All content &copy; <?php echo(date("Y")); ?> Jeremy Wagner, unless where otherwise noted.</p>
</footer>
<?php
if($http2 === true){
	if($isDevServer === false){
		?><script src="/js/ga.js?v=<?php echo($versions["ga.js"]); ?>" async defer></script><?php
	}
	?>
	<script src="/js/load-fonts.js?v=<?php echo($versions["load-fonts.js"]); ?>" async defer></script>
	<script src="/js/lazyload.js?v=<?php echo($versions["lazyload.js"]); ?>" async defer></script>
	<script src="/js/debounce.js?v=<?php echo($versions["debounce.js"]); ?>" defer></script>
	<script src="/js/nav.js?v=<?php echo($versions["nav.js"]); ?>" defer></script>
	<script src="/js/attach-nav.js?v=<?php echo($versions["attach-nav.js"]); ?>" defer></script>
	<script src="/js/sw-install.js?v=<?php echo($versions["sw-install.js"]); ?>" async></script>
	<?php
}
else{
	if($isDevServer === false){
		?><script><?php echo(file_get_contents($pathPrefix . "/js/ga.js")); ?></script><?php
	}
	?>
	<script src="/js/scripts.js?v=<?php echo($versions["scripts.js"]); ?>" defer></script>
	<?php
}
?>
<noscript>
	<img src="/img/global/blank.gif?user_agent=<?php echo(urlencode($_SERVER["USER_AGENT"])); ?>">
</noscript>