<header>
	<a href="/">
		<div id="header-image-container">
			<div id="jeremy"></div>
		</div>
		<div class="title-container">
			<h1 class="name">Jeremy Wagner's</h1>
			<h2 class="site">Web Dev<span class="abbr">elopment</span> Blog</h2>
			<h4 class="tagline">With occasional rambling diatribes about other stuff.</h4>
		</div>
	</a>
	<div id="nav-icon">
		<div id="nav-trigger"></div>
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
</header>