<header>
	<a href="/">
		<?php
		if($saveData === false){
			?>
			<div id="header-image-container">
				<div id="jeremy"></div>
			</div>
			<?php
		}
		?>
		<div class="title-container">
			<h1 class="name">JEREMY WAGNER'S</h1>
			<h2 class="site">WEB DEV<span class="abbr">ELOPMENT</span> BLOG</h2>
			<h4 class="tagline">WITH OCCASIONAL RAMBLING DIATRIBES ABOUT OTHER STUFF.</h4>
		</div>
	</a>
	<div id="nav-icon">
		<div id="nav-trigger"></div>
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
		<div class="bar"></div>
	</div>
</header>
