<header>
	<a href="/">
		<img src="/img/global/jeremy.svg" alt="Jeremy!" id="jeremy">
		<div class="title-container">
			<h1 class="name">Jeremy Wagner's</h1>
			<h2 class="site">Web Dev<span class="abbreviation">elopment</span> Blog</h2>
			<h4 class="tagline">Featuring occasional rambling diatribes about other things.</h4>
		</div>
		<div id="nav-icon">
			<div class="hamburger-bar"></div>
			<div class="hamburger-bar-spacer"></div>
			<div class="hamburger-bar"></div>
			<div class="hamburger-bar-spacer"></div>
			<div class="hamburger-bar"></div>
		</div>
	</a>
</header>