<title>
	Jeremy Wagner - {{title}}
</title>
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="{{description}}">
<meta name="og:description" content="{{description}}">
<meta name="og:title" content="{{title}}">
<meta name="og:image" content="{{featureImage}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjord+One|Montserrat:400,700|Tinos:400,700" type="text/css">
<link rel="stylesheet" href="/css/global.css?v=<?php echo($versions["global.css"]); ?>" type="text/css">
<script>
	var htmlClasses = document.documentElement.className.replace("no-js", "");
	document.documentElement.className = htmlClasses;
</script>