<nav>
	<div id="nav-container">
		<ul class="menu">
			<li class="menu-item">
				<a href="/about-me" class="menu-link">About Me</a>
			</li>
			<li class="menu-item">
				<a href="/writing" class="menu-link">Writing</a>
			</li>
			<li class="menu-item">
				<a href="/lets-work-together" class="menu-link">Let's Work Together</a>
			</li>
			<li class="menu-item">
				<a href="https://manning.com/books/web-performance-in-action?a_aid=webopt&amp;a_bid=63c31090" target="_blank" class="menu-link">Read my Book</a>
				<a href="https://manning.com/books/web-performance-in-action?a_aid=webopt&amp;a_bid=63c31090" class="book-link" target="_blank">
					<div class="book-image"></div>
				</a>
			</li>
		</ul>
		<div class="social">
			<a href="https://twitter.com/malchata" target="_blank" class="twitter"></a>
			<a href="https://www.linkedin.com/in/jeremy-wagner-ab238738" target="_blank" class="linked-in"></a>
			<a href="https://github.com/malchata" target="_blank" class="github"></a>
			<a href="mailto:public@jeremywagner.me" target="_blank" class="email"></a>
		</div>
		<p class="footer-copy">All content &copy; 2016-<?php echo(date("Y")); ?> Jeremy Wagner, unless where otherwise noted.</p>
	</div>
</nav>