<nav>
	<ul class="menu">
		<div id="close-nav"></div>
		<li class="menu-item">
			<a href="hire-me.html" class="menu-link">Hire Me</a>
		</li>
		<li class="menu-item">
			<a href="about-me.html" class="menu-link">About Me</a>
		</li>
		<li class="menu-item">
			<a href="/book" target="_blank" class="menu-link">Buy my Book</a>
			<a href="/book" class="book-link" target="_blank"><img class="book-image lazy" data-src="/img/global/book-1x.png" data-srcset="/img/global/book-1x.png 1x, /img/global/book-2x.png 2x" title="Web Optimization in Action" alt="Web Optimization in Action"></a>
			<noscript>
				<a href="/book" class="book-link" target="_blank"><img class="book-image" src="/img/global/book-1x.png" srcset="/img/global/book-1x.png 1x, /img/global/book-2x.png 2x" title="Web Optimization in Action" alt="Web Optimization in Action"></a>
			</noscript>
		</li>
		<li class="menu-item">
			<a href="/speaker-info.html" class="menu-link">Speaker Info</a>
		</li>
		<div class="social">
			<a href="https://twitter.com/malchata" target="_blank" class="twitter"></a>
			<a href="https://www.linkedin.com/in/jeremy-wagner-ab238738" target="_blank" class="linked-in"></a>
			<a href="https://github.com/malchata" target="_blank" class="github"></a>
			<a href="mailto:public@jeremywagner.me" target="_blank" class="email"></a>
		</div>
	</ul>
	<p class="footer-copy">All content &copy; <?php echo(date("Y")); ?> Jeremy Wagner, unless where otherwise noted.</p>
</nav>