<?php
// Checks to see if a post is a blog
$isBlog = stristr($_SERVER["REQUEST_URI"], "/blog");
$isSpeakerInfo = stristr($_SERVER["REQUEST_URI"], "/speaker-info");

// Path Prefix Variable
if($isBlog){
	$pathPrefix = realpath("./../");
	$pageUrl = $_SERVER["REQUEST_SCHEME"] . "://" . $_SERVER["HTTP_HOST"] . $_SERVER["REQUEST_URI"];
	$pageId = md5($_SERVER["REQUEST_URI"]);
}
else{
	$pathPrefix = realpath("./");
}

// Asset versioning
$versions = [];
$versions["global.css"] = filemtime($pathPrefix . "/css/global.css");
$versions["fonts-loaded.css"] = filemtime($pathPrefix . "/css/fonts-loaded.css");
$versions["ga.js"] = filemtime($pathPrefix . "/js/ga.js");
$versions["scripts.js"] = filemtime($pathPrefix . "/js/scripts.js");
$versions["debounce.js"] = filemtime($pathPrefix . "/js/debounce.js");
$versions["lazyload.js"] = filemtime($pathPrefix . "/js/lazyload.js");
$versions["nav.js"] = filemtime($pathPrefix . "/js/nav.js");
$versions["attach-nav.js"] = filemtime($pathPrefix . "/js/attach-nav.js");
$versions["load-fonts.js"] = filemtime($pathPrefix . "/js/load-fonts.js");

// HTTP/2 Version Checking
$http2 = stristr($_SERVER["SERVER_PROTOCOL"], "HTTP/2") ? true : false;

function httpClass($h2){
	if($h2 === true){
		return "http2";
	}
	else{
		return "http1";
	}
}

// Font Loading Class Control
function fontsLoaded(){
	if(isset($_COOKIE["fonts-loaded"])){
		return "fonts-loaded";
	}
}

// Headers
function generateLinkHeaders($h2, $versions, $isBlog){
	// Establish global link headers
	$headers["Link"] = "</css/global.css?v=" . $versions["global.css"] . ">;rel=preload;as=style" .
		",</img/global/jeremy.svg>;rel=preload;as=image";

	// Set headers
	if($h2 === true){
		$headers["Link"] = $headers["Link"] .
			",</css/fonts-loaded.css?v=" . $versions["fonts-loaded.css"] . ">;rel=preload;as=style" .
			",</js/ga.js?v=" . $versions["ga.js"] . ">;rel=preload;as=script" .
			",</js/debounce.js?v=" . $versions["debounce.js"] . ">;rel=preload;as=script" .
			",</js/lazyload.js?v=" . $versions["lazyload.js"] . ">;rel=preload;as=script" .
			",</js/nav.js?v=" . $versions["nav.js"] . ">;rel=preload;as=script" .
			",</js/attach-nav.js?v=" . $versions["attach-nav.js"] . ">;rel=preload;as=script" .
			",</js/load-fonts.js?v=" . $versions["load-fonts.js"] . ">;rel=preload;as=script" .
			",</img/global/icon-email.svg>;rel=preload;as=image" .
			",</img/global/icon-github.svg>;rel=preload;as=image" .
			",</img/global/icon-linked-in.svg>;rel=preload;as=image" .
			",</img/global/icon-twitter.svg>;rel=preload;as=image";
	}
	else{
		$headers["Link"] = $headers["Link"] .
			",</js/scripts.js?v=" . $versions["scripts.js"] . ">;rel=preload;as=script" .
			",</img/global/sprite.svg>;rel=preload;as=image";
	}

	// Check if this is a blog page.
	if($isBlog){
		$headers["Link"] = $headers["Link"] .
			",<https://jeremywagner.disqus.com>;rel=preconnect" .
			",<https://a.disquscdn.com>;rel=preconnect" .
			",<https://disqus.com>;rel=preconnect" .
			",<https://referrer.disqus.com>;rel=preconnect";
	}

	// Other preconnect headers
	$headers["Link"] = $headers["Link"] .
			",<https://www.google-analytics.com>;rel=preconnect" .
			",<https://fonts.gstatic.com>;rel=preconnect" .
			",<https://fonts.googleapis.com>;rel=preconnect" .
			",<https://ssl.google-analytics.com>;rel=preconnect";

	// Apply headers
	foreach($headers as $headerName => $headerValue){
		header($headerName . ": " . $headerValue);
	}
}

generateLinkHeaders($http2, $versions, $isBlog);
?>