:root{
	/* Colors */
	--black: #110e0a;
	--white: #fffcf2;
	--cream: #dcd9cf;
	--coral: #f9855d;
	--indigo: #233d55;
	--light-blue: #b0d9f2;

	/* Translucent Colors */
	--trans-coral: rgba(249, 133, 93, .5);

	/* Spatial */
	--mobile-gutter: 2.5%; /* 8px / 320px */
	--desktop-gutter: 1.1111111111%; /* 16px / 1440px */

	/* Fonts */
	--fredoka-one: "Fredoka One", sans-serif;
	--monoton: "Monoton", sans-serif;
	--fira-sans: "Fira Sans", sans-serif;
	--code: "Monaco", "Consolas", monospace;
}
