// 1. Breakpoints and Restrictions
@largeBreakpoint: 640px;
@extraLargeBreakpoint: 900px;
@maxContainerWidth: 1280px;

// 2. Colors
@white: #fff;
@translucentWhite: rgba(255, 255, 255, .5);
@black: #000;
@translucentBlack: rgba(0, 0, 0, .25);
@blue: #2f3c47;
@lightBlue: #d2e3f7;
@brown: #49310a;
@lightBrown: #b28b60;
@beige: #e7e0d7;
@lightGrey1: #efefef;
@lightGrey2: #fdfdfd;
@grey1: #dcdee0;
@grey2: #c4c8cb;
@grey3: #bcbbbb;

// 3. Custom Typefaces
@montserrat: "Montserrat", sans-serif;

// 4. System Typefaces
@code: "Monaco", "Consolas", "Lucida Console", monospace;
@serif: "Book Antiqua", "Palatino", "Palatino Linotype", "Palatino LT STD", "Georgia", serif;
@sansSerif: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", serif;

// 4. Transition Delays
@longerDuration: .75s;
@longDuration: .5s;
@normalDuration: .33s;
@shortDuration: .25s;

// 5. Transition Easings
@jauntyEasing: cubic-bezier(0.680, -0.550, 0.265, 1.550);

// 5. Variables
@lineHeightRatio: 1.618;