// 1. Breakpoints
@largeBreakpoint: 640px;

// 2. Colors
@white: #fff;
@translucentWhite: rgba(255, 255, 255, .5);
@black: #000;
@translucentBlack: rgba(0, 0, 0, .25);
@blue: #2f3c47;
@lightBlue: #d2e3f7;
@brown: #49310a;
@lightBrown: #b28b60;
@beige: #e7e0d7;
@lightGrey1: #efefef;
@lightGrey2: #fdfdfd;
@grey1: #dcdee0;
@grey2: #c4c8cb;
@grey3: #bcbbbb;

// 3. Font Families
@tinos: "Tinos", serif;
@montserrat: "Montserrat", sans-serif;
@fjordOne: "Fjord One", serif;
@codeFont: "Monaco", "Consolas", "Lucida Console", monospace;

// 4. Transition Delays
@normalDuration: .33s;
@shortDuration: .25s;

// 5. Variables
@maxContainerWidth: 1280px;