<?php require_once("../preprocessing.php"); ?>
<!doctype html>
<html lang="en" class="no-js">
	<head>
		{% include "partials/html-head.html" %}
	</head>
	<body>
		<div id="page-fade"></div>
		<!-- Begin Content -->
		<section class="columns">
			{% include "partials/header.html" %}
			{% include "partials/nav.html" %}
			<section class="content">
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/net-neutrality-web-performance">Without Net Neutrality, Performance Will Matter More Than Ever</a></h1>
					<p class="date">May 18, 2017 (updated May 19, 2017)</p>
					<p><i><a href="https://medium.com/@jeremywagner/without-net-neutrality-performance-will-matter-more-than-ever-40792802bdc" rel="noopener">This article is also on Medium</a>!</i></p>
					<p>I read and write often about web performance. As time has gone on, I've found myself less drawn to the technical aspects of the issue — the human side of web performance proves far more intriguing. I'm interested in how our actions as designers and developers makes life easier for users. Performance is a vital part of the user experience. Those who appreciate its importance aren't simply improving performance metrics, they're improving users' lives. I find my work most rewarding when I know I've built a site that's fast, or if I've remedied performance problems on ailing sites. To me, that's the good fight, and I sleep best when I've fought it.</p>
					<a href="/blog/net-neutrality-web-performance" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/faster-bulk-image-optimization-in-bash">Faster Bulk Image Optimization in Bash</a></h1>
					<p class="date">April 20, 2017</p>
					<p><i><a href="https://medium.com/@jeremywagner/faster-bulk-image-optimization-in-bash-d23aa613087c" rel="noopener">This article is also on Medium</a>!</i></p>
					<p><a href="/blog/bulk-image-optimization-in-bash">In an earlier post</a>, I talked about how you could use the <code>find</code> command in bash to find all files of a specific extension and pass them along to the image optimizer of your choosing. In instances where I don't have time to automate this task with a tool such as gulp, this has proved incredibly valuable.</p>
					<p>Lately I've had to convert large batches of images for various projects. The <code>find</code> command, while serviceable in its own right with the <code>-exec</code> flag, only allows for serial processing of the files it finds. This is where <code>xargs</code> came in handy. With <code>xargs</code> I had a way of doing this work in parallel. I recently optimized a batch of about 500 JPEGs using jpeg-recompress. Below was the non-<code>xargs</code> way of accomplishing this task:</p>
					<a href="/blog/faster-bulk-image-optimization-in-bash" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/css-is-broken-my-dime-a-dozen-opinion">CSS is Broken: My Dime a Dozen Opinion</a></h1>
					<p class="date">April 3, 2017</p>
					<p><i><a href="https://medium.com/@jeremywagner/css-is-broken-my-dime-a-dozen-opinion-3e381b058e4f" rel="noopener">This article is also on Medium</a>!</i></p>
					<p>The latest web development shitstorm on Twitter has been &quot;CSS is broken&quot;. To no one's surprise, this has provoked heated discussions on the perceived flaws of CSS, and what can be done to &quot;fix&quot; what's &quot;broken&quot; in the language. Here's my opinion, such as it is.</p>
					<p>Web development is a broad spectrum of varying skills. Any one developer exists in a spot in the spectrum, with skills varying in breadth and depth. On one extreme exists developers that feel JavaScript is their primary tool for solving problems, while CSS is a necessary evil for establishing a look and feel for a page. On the other extreme, there are developers (some identifying as designers) who see CSS as an essential part of the web developer's trinity, but shy away from using JavaScript extensively. Most of us exist somewhere between the extremes, but we tend to lean one way or the other (if you don't count those rare devs who seem magically capable of doing everything).</p>
					<a href="/blog/css-is-broken-my-dime-a-dozen-opinion" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/bulk-image-optimization-in-bash">Bulk Image Optimization in Bash</a></h1>
					<p class="date">March 9, 2017</p>
					<p><i><a href="https://medium.com/@jeremywagner/bulk-image-optimization-in-bash-e1dd03ebc477" rel="noopener">This article is also on Medium</a>!</i></p>
					<p>Have you ever needed to optimize a bunch of images in a folder on your computer, but you don't want to go through the hassle of writing an build system to take care of it? Then bash and your image optimization binary of choice are your best friends. I've had situations where I just needed to pull down files from a website already in production, optimize images, and re-upload everything. The exact syntax depends on the optimizer you use, but your workhorse will be the <code>find</code> command.</p>
					<p><code>find</code> is a command that, well, finds stuff. For example, if I wanted to find all files in the current directory and its subdirectories with a <code>.jpg</code> extension, I could run this command:</p>
					<div class="code-container">
					<pre><code>
find ./ -type f -name '*.jpg'</code></pre>
					</div>
					<a href="/blog/bulk-image-optimization-in-bash" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/tips-for-writing-a-technical-book">Tips for Writing a Technical Book</a></h1>
					<p class="date">January 21, 2017</p>
					<p><i><a href="https://medium.com/@jeremywagner/tips-for-writing-a-technical-book-5867777bf580" rel="noopener">This article is also on Medium</a>!</i></p>
					<p>I spent the last year writing a technical book for Manning Publications, and it's finally out! The book is called <i><a href="https://manning.com/books/web-performance-in-action?a_aid=webopt&a_bid=63c31090" rel="noopener">Web Performance in Action</a></i>. The process was something I wanted to fully document, but it became clear to me that nobody would find such an overly-specific, long-winded screed worth reading.</p>
					<p>So instead, I said &quot;to hell with it&quot; and slapped a clickbait title on this thing. If you've ever entertained the notion of writing a technical book, these are some tips that served me well during the process. Well, for <i>me</i> at least. Your mileage will vary, of course.</p>
					<a href="/blog/tips-for-writing-a-technical-book" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/http2-in-developing-nations">HTTP/2 in Developing Nations</a></h1>
					<p class="date">October 6, 2016</p>
					<p>I've been doing some research on HTTP/2 use across the world in preparation for an article on another outlet. In doing so, I've observed some compelling relationships between HTTP/2 support by browser, the developing world, and internet infrastructure quality.</p>
					<p>In developed nations, we see often see that internet infrastructure quality is pretty good in comparison to developing nations. That's not to say that some developed nations couldn't stand to do better, but they're often better by comparison. Let's take a quick look at this graph of average and peak connection speeds in the world's top 8 developing nations by population, courtesy of <a href="https://content.akamai.com/pg7162-q2-soti-connectivity-report.html" rel="noopener">Akamai's second quarter State of the Internet Report for 2016</a>:</p>
					<a href="/blog/http2-in-developing-nations" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/bust-caches-like-a-pro">Bust Caches Like a Pro</a></h1>
					<p class="date">September 12, 2016</p>
					<p>Browser caches are great. With a good <code>cache-control</code> policy, you can take advantage of the browser cache to seriously increase the speed of return visits to your site. On a multi-page site where many resources are shared across pages, a primed browser cache can reduce load times when users navigate to subsequent pages.</p>
					<p>What sucks, though, is when you have to bust a cache for an asset that changes. Cache busting (or cache invalidation, as it is commonly known) is what we must do when we change an asset, but want to make sure the browser downloads the new version of it.</p>
					<a href="/blog/bust-caches-like-a-pro" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/stop-using-the-protocol-relative-url">Stop Using the Protocol-relative URL</a></h1>
					<p class="date">July 22, 2016 (updated March 5, 2017)</p>
					<p>Paul Irish <a href="http://www.paulirish.com/2010/the-protocol-relative-url">wrote about the protocol-relative URL</a> way back in 2010. It was a convenient little post that advised developers to abandon absolute protocol URL schemes using <code>http://</code> or <code>https://</code> in favor of a protocol-relative variant that looks something like this:</p>
					<div class="code-container">
					<pre><code>
&lt;script src=&quot;//code.jquery.com/jquery-2.2.3.min.js&quot;&gt;&lt;/script&gt;</code></pre>
					</div>
					<p>This convenient syntax eliminates the need for developers to construct URLs based on the user's current security context. If this syntax was used on an HTTP page to include something from a CDN, it retrieved the HTTP version. If the user used it on an HTTPS page, it retrieved the HTTPS version. Seems like a hell of an idea, right?</p>
					<a href="/blog/stop-using-the-protocol-relative-url" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/svg-media-query">Cutting Cruft with an SVG Media Query</a></h1>
					<p class="date">May 25, 2016</p>
					<p>This isn’t a huge success story, but I thought it was sufficiently spiffy to warrant a short post about an SVG media query that helped me to cut an unnecessary image from a client's website while still accommodating their design. Who knows? This short post may help you some day.</p>
					<p>Not too long ago, I developed a static site for <a href="http://weeklytimber.com">Weekly Timber &amp; Pulp</a>, a logging business in Central Wisconsin. The designer on the project whipped up some comps with two breakpoints: One for phones and tablets in portrait view, and another for tablets in landscape view and larger. The designer is a good friend of mine, and loves to throw me a curve ball every now and again. So he gave the site’s logo a different treatment for each breakpoint.</p>
					<a href="/blog/svg-media-query" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
				<!-- Begin Post Summary -->
				<article class="post summary">
					<h1><a href="/blog/webp-images">Using WebP Images</a></h1>
					<p class="date">April 25, 2016 (updated September 26, 2016)</p>
					<p>We've all been there before: You're browsing a website that has a ton of huge and beautiful images of delicious food, or maybe that new gadget you've been eyeballing. These images tug at your senses, and for content authors, they're essential in moving people to do things.</p>
					<p>Except that these images are downright huge. Like really huge. On a doddering mobile connection, you can even see these images unfurl before you like a descending window shade. You're suddenly reminded of the bad old days of dial-up connections.</p>
					<a href="/blog/webp-images" class="more">Read More &raquo;</a>
				</article>
				<!-- End Post Summary -->
			</section>
		</section>
		<!-- End Content -->
		{% include "partials/footer.html" %}
	</body>
</html>
