<?php require_once("../preprocessing.php"); ?>
<!doctype html>
<html lang="en" class="no-js<?php if($webp === true) : echo(" webp"); endif; if($saveData === true) : echo(" save-data"); endif; ?>">
	<head>
		{% include "partials/html-head.html" %}
	</head>
	<body>
		<div id="page-fade"></div>
		<!-- Begin Content -->
		<section class="columns">
			{% include "partials/header.html" %}
			{% include "partials/nav.html" %}
			<section class="content">
				<!-- Begin Post -->
				<article class="post">
					<h1>Let's Work Together</h1>
					<p>I've been known to work on websites for people from time to time. If you've come here and you're thinking about hiring me for a project you have in mind, first let me say to you that I'm flattered you would consider me. Your project is very important to you, and I respect that.</p>
					<p>First, let's talk about what I do so we can be sure that I'm a good fit.</p>
					<h2>Web performance consulting</h2>
					<p>Maybe your website has been kind of dogging it lately. This is my favorite kind of problem to work on (<a href="https://manning.com/books/web-performance-in-action?a_aid=webopt&amp;a_bid=63c31090" target="_blank" rel="noopener">I did write a book on it</a>, after all). If you're interested in talking about what I can do to make your site faster for your visitors, <a href="mailto:jeremy.wagner@gmail.com">please do get in touch</a>.</p>
					<h2>Building WordPress sites</h2>
					<p>WordPress is my CMS of choice, and I'm pretty good at it. I build authoring experiences that make sense and are easy to use. Best of all, the sites I build in WordPress are <em>fast</em>.</p>
					<h2>Building HTML templates</h2>
					<p>You might have some design mockups you need built into fully functional HTML templates without needing a CMS back end. I love doing this kind of work. I do it quickly, with great accuracy, and with performance in mind.</p>
					<h2>On-site consulting</h2>
					<p>Do you need me to come to your place? I might be able to do that, but let's talk about the particulars first to see if an on-site consultation is a proper fit for both of us.</p>
					<h2>Contacting me</h2>
					<p>Contacting me is really easy. <a href="mailto:jeremy.wagner@gmail.com">Just bug me by email</a>. I'll get back to you shortly!</p>
					<p>
						Cheers,<br>
						-j
					</p>
				</article>
				<!-- End Post -->
			</section>
		</section>
		<!-- End Content -->
		{% include "partials/footer.html" %}
	</body>
</html>
