<?php require_once("../preprocessing.php"); ?>
<!doctype html>
<html lang="en" class="no-js <?php echo(httpClass($isHttp2));?> <?php echo(fontsLoaded()); ?>">
	<head>
		{% include "partials/html-head.html" %}
	</head>
	<body>
		<div id="page-fade"></div>
		<!-- Begin Content -->
		<section class="columns">
			{% include "partials/header.html" %}
			{% include "partials/nav.html" %}
			<section class="content">
				<!-- Begin Post -->
				<article class="post">
					<h1>Let's Work Together</h1>
					<p>I've been known to work on websites for people from time to time. If you've come here and you're thinking about hiring me for a project you have in mind, first let me say to you that I'm flattered you would consider me. Your project is very important to you, and I respect that.</p>
					<p>First, let's talk about what I do so we can be sure that I'm a good fit.</p>
					<h2>Web performance consulting</h2>
					<p>Maybe your website has been kind of dogging it lately. This is my favorite kind of problem to work on (<a href="https://manning.com/books/web-performance-in-action?a_aid=webopt&amp;a_bid=63c31090" target="_blank" rel="noopener">I did write a book on it</a>, after all.) If you're interested in talking about what I can do to make your website faster for your visitors, <a href="mailto:public@jeremywagner.me">please do get in touch</a>.</p>
					<h2>Building HTML templates</h2>
					<p>You might have some design mockups you need built into HTML templates. I love doing this kind of work. I do it quickly, with great accuracy, and with performance in mind.</p>
					<h2>On-site consulting</h2>
					<p>Do you need me to come to your place? I might be able to do that, but let's talk about the particulars first to see if an on-site consultation is a proper fit for both of us.</p>
					<h2>Contacting me</h2>
					<p>Contacting me is really easy. Just bug me by email at <a href="mailto:public@jlwagner.net">public@jlwagner.net</a>. I'll get back to you shortly!</p>
					<p>
						Cheers,<br>
						-j
					</p>
				</article>
				<!-- End Post -->
			</section>
		</section>
		<!-- End Content -->
		{% include "partials/footer.html" %}
	</body>
</html>
