{% include "partials/preprocessing.html" %}
<!doctype html>
<html class="no-js <?php echo(httpClass($http2)); ?>">
	<head>
		{% include "partials/html-head.html" %}
	</head>
	<body>
		<div id="page-fade"></div>
		<!-- Begin Content -->
		<section class="columns">
			{% include "partials/header.html" %}
			{% include "partials/nav.html" %}
			<section class="content">
				<!-- Begin Post -->
				<article class="post">
					<h1>Hire Me!</h1>
					<p>I've been known to work on websites for people from time to time. If you've come here and you're thinking about hiring me for a project you have in mind, first let me say to you that I'm flattered that you would consider me for your project. Your project is important to you, and I respect that.</p>
					<p>If you are indeed considering me, let's talk about what I do so that we can be sure that I'm a good fit.</p>
					<h2>Web performance consulting</h2>
					<p>Maybe your website has been kind of dogging it lately. This is my favorite kind of problem I love to work on. <a href="/book" target="_blank">I did write a book on it</a>, after all. If you're interested in seeing what can be done to make your website faster, <a href="mailto:public@jeremywagner.me">get in touch</a>.</p>
					<h2>Building HTML templates</h2>
					<p>You might have some Photoshop files that you need built into HTML templates. I love doing this kind of work. I do it quickly, with great accuracy, and with performance in mind.</p>
					<h2>On-site consulting</h2>
					<p>Do you need me to come to your place? I can probably do that. Let's talk about the particulars, and see if an on-site consultation is a good fit for your organization.</p>
					<h2>Contacting me</h2>
					<p>Contacting me is really easy. Just bug me by email at <a href="mailto:public@jeremywagner.me">public@jeremywagner.me</a>. I'll get back to you shortly!</p>
					<p>-j</p>
				</article>
				<!-- End Post -->
			</section>
		</section>
		<!-- End Content -->
		{% include "partials/footer.html" %}
	</body>
</html>