{% include "partials/preprocessing.html" %}
<!doctype html>
<html class="no-js">
	<head>
		{% include "partials/html-head.html" %}
	</head>
	<body>
		<div id="page-fade"></div>
		<!-- Begin Content -->
		<section class="columns">
			{% include "partials/header.html" %}
			{% include "partials/nav.html" %}
			<section class="content">
				<!-- Begin Post -->
				<article class="post">
					<h1>Speaker Info</h1>
					<p>Next to the work I do, speaking is something that I <i>really</i> love. I've been speaking for a little while now, and I welcome any opportunity get up in front of folks to talk about technology in the space I work in.</p>
					<p>If you'd like me to speak at a conference you're organizing, let me just say that I'm honored that you'd even consider me in the first place. There's just a couple of things we need to talk about.</p>
					<h2>Do you have a code of conduct?</h2>
					<p>This is key. I want to ensure that the event you're organizing has a comprehensive code of conduct that sets the ground rules for everyone involved. Your event should be a place where anyone and everyone can feel like they belong, and that they're safe to be the person that they are.</p>
					<h2>Do you arrange travel and lodging?</h2>
					<p>Air travel and lodging is not a trivial cost for most people. Unless your event is in or near the Twin Cities where I live, I'll need to know if you cover these costs for your speakers.</p>
					<h2>Topics I cover</h2>
					<p>I talk about a lot of stuff, but below is a list of stuff I've talked/can talk about at your event:</p>
					<ul>
						<li>Web performance (my strong suit!)</li>
						<li>HTML, CSS or JavaScript stuff.</li>
						<li>Whatever ideas you might have!</li>
					</ul>
					<h2>Some of my speaking</h2>
					<p>Here's a screen recording of a presentation I gave on flexbox at <a href="http://opensourcenorth.com" target="_blank">Open Source North</a>. Check it out:</p>
					<iframe width="420" height="315" src="https://www.youtube.com/embed/BgrceT5krGM" frameborder="0" allowfullscreen></iframe>
					<h2>Get in touch!</h2>
					<p>If you're still interested in having me speak at your event, don't hesitate to get in touch. You can contact me at <a href="mailto:public@jeremywagner.me?subject=Speaking at an event">public@jeremywagner.me</a>.</p>
					<p>-j</p>
				</article>
				<!-- End Post -->
			</section>
		</section>
		<!-- End Content -->
		{% include "partials/footer.html" %}
	</body>
</html>