// Colors
$black: #110e0a;
$white: #f5e6e8;
$coral: #f9855d;
$indigo: #233d55;
$lightBlue: #b0d9f2;

// Spatial
$mobileGutter: 8px;
$desktopGutter: 16px;

// Fonts
$fredokaOne: "Fredoka One", cursive;
$monoton: "Monoton", cursive;
$firaSans: "Fira Sans", sans-serif;
